<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Training\CustomData\Api\Data\CustomDataInterface" type="Training\CustomData\Model\CustomDataCollection"/>
    <preference for="Training\CustomData\Api\LoadByIDInterface" type="Training\CustomData\Model\Api\LoadByIDInterface"/>

</config>
