<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <vendorname>
            <general>
                <email_sender>general</email_sender>
                <custom_email_template>vendorname_general_custom_email_template</custom_email_template>
            </general>
        </vendorname>
    </default>
</config>
