<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="helloworld_listing_data_source" xsi:type="string">Vendorname\Helloworld\Model\ResourceModel\Helloworld\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Vendorname\Helloworld\Model\ResourceModel\Helloworld\Grid\Collection" >
        <arguments>
            <argument name="mainTable" xsi:type="string">helloworld_data</argument>
            <argument name="eventPrefix" xsi:type="string">helloworld_data_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">helloworld_data_collection</argument>
            <argument name="resourceModel" xsi:type="string">Vendorname\Helloworld\Model\ResourceModel\Helloworld</argument>
        </arguments>
    </virtualType>

    <!--  Add Attachment in Email -->
    <preference for="\Magento\Framework\Mail\Template\TransportBuilder" type="Vendorname\Helloworld\Model\Mail\Template\Attachment" />
</config>
